body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #f5f9ff;
}

.navbar {
  background-color: transparent;
}

h1,
.h1 {
  font-size: 42px;
  font-weight: 800;
}

h2,
.h2 {
  font-size: 24px;
  font-weight: 700;
}

.btn {
  height: 48px;
  padding: 0px 24px;
}

.btn-small {
  height: 40px;
}

h6,
.h6 {
  font-size: 18px;
  font-weight: 400;
}

.caption {
  font-size: 14px;
}

.title-text {
  color: #292d32;
}

.body-text {
  color: #757575;
}

.card {
  border: none;
  box-shadow: 0px 5px 10px 0px rgba(8, 101, 255, 0.1);
  padding: 16px;
}

.fluid {
  padding: 0px !important;
}

.progress {
  height: 4px;
}
